.row {
    display: flex; /*Sets the row to a flexbox*/
    flex-wrap: wrap; /*Allows the columns to wrap when the screen is too small*/
    padding: 0; /*Remove padding*/
    min-height: 100%; /*Sets the minimum height of the row to 100%*/
}

.column {
    flex: 25%;
    max-width: 25%; /*Sets equal columns up*/
    padding: 2px 10px; /*Adds padding to the columns*/
}

.img-fluid {
    width: 100%; /*Sets the width of the image to 100% to fill the columns*/
    height: auto; /*Sets the height of the image to auto to keep the aspect ratio*/
}

.column img {
    padding-top: 8px; /*Adds padding to the top of the image*/
    width: 100%; /*Sets the width of the image to 100% to fill the columns*/
}

@media screen and (max-width: 800px) { /*Sets the columns to 50% width when the screen is less than 800px, so only 2 columns show*/
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) { /*Sets the columns to 100% width when the screen is less than 600px, so only 1 column shows*/
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#scroll-to-top-button { /*Styling for the scroll to top button*/
    position: fixed; /*Sets the button so it stays in the same place regardless of scrolling*/
    bottom: 20px; /*Sets the button 20px from the bottom of the page*/
    right: 20px; /*Sets the button 20px from the right of the page*/
    display: none; /*Hides the button until the user scrolls down*/
    }
