.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0; /*Remove padding*/
    min-height: 100%;
}

.column {
    flex: 25%;
    max-width: 25%; /*Sets equal columns up*/
    padding: 2px 10px; /*Adds padding to the columns*/
}

.img-fluid {
    width: 100%;
    height: auto;
}

.column img {
    padding-top:8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }