/*External character sheet imports*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);/*For social media icons*/

/*Section formatting*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #F1F1F1; /*Set the background color to a slight shade of greay to ease reading*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1; /*Set the main content to take up the remaining space*/
}

footer {
    margin-top: 10px;
}

/*Text class formatting*/
.WIP { /*Used to signify that a page is not finished*/
    color: red;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 30px;
}

.link-no-show {
    color: inherit;
    text-decoration: underline;
}

/*Footer formatting*/
.footer-basic .social {
    text-align: center; /*Center the social media icon*/
}

.footer-basic p {
    text-align: center; /*Center the copyright text*/
    font-size: 13.5px; /*Set the size of the text*/
}

.footer-basic .list-inline {
    text-align: center; /*Centralise the page links*/
    padding-top: 10px; 
}

.social a {
    font-size:24px; /*Set the size of the icon*/
    line-height: 20px; /*Set distance between icon and content above*/
    text-align: center; /*Center the icon*/
    color: inherit; /*Grey the icon*/
    padding-bottom: 10px;
    text-decoration: none; /*Remove the underline*/
}

.footer-basic .list-inline a {
    color: inherit; /*Grey the icon*/
    text-decoration: none; /*Remove the underline*/
}